.heading {
  height: 15rem;
  padding: 1.2rem 3.6rem;
  margin-top: 3.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 20;

  /*  backdrop-filter: blur(12px); */

  font-size: var(--text-md);
  font-weight: bold;



}
